@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Couleurs personnalisées issues de Figma */
  --color-brand-primary: #7D38FF; /* Violet - Primaire / Catégories */
  --color-brand-accent: #C6FF34;  /* Vert Citron - Actions / Bordures */
  --color-brand-black: #000000;   /* Noir profond */
  --color-brand-white: #FFFFFF;   /* Blanc */

  /* Typographie de Figma */
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar Utility */
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-brand-primary);
    border-radius: 10px;
  }
  
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand-primary) transparent;
}

/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

/* Cache la navbar mobile quand une modale est ouverte */
body.modal-open nav.fixed.bottom-0 {
  display: none !important;
}


