@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Couleurs personnalisées issues de Figma */
  --color-brand-primary: #7D38FF; /* Violet - Primaire / Catégories */
  --color-brand-accent: #C6FF34;  /* Vert Citron - Actions / Bordures */
  --color-brand-black: #000000;   /* Noir profond */
  --color-brand-white: #FFFFFF;   /* Blanc */

  /* Typographie de Figma */
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
